.margintop
{
    margin-top: 100px !important;
}
.mytable td, .mytable th
{
    text-align: center !important;
}
.mytable td
{
    font-size: 14px;
}
.mytable th
{
    font-size: 18px;
}
.resalta
{
    font-size: 14px;
    font-weight: bold;
}
.margin-right
{
    margin-right: 50px;
}
.margin-left
{
    margin-left: 10%;
}
.info
{   
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: #58ACFA;
    margin-left: 30%;
    margin-right: 30%;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 10px;
}
.error
{
    background-color: #B40404 !important;
}
.minibuttons
{
    font-size: 30px;
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    border-radius: 0 20px 20px 0;
}
.center
{
    text-align: center;
}
.flatly
{/* Flatly*/
    color: #0B0B61;
}
.cerulean
{/* Cerulean */
    color: cyan;
}
.cosmo
{/*cosmo*/
    color: #424242;
}
.cyborg
{/*Cyborg*/
    color: #000000;
}
.lumen
{
    color: #E6E6E6;
}
.readable
{
    color: #A9E2F3;
}
img
{
    width: 25px;
    height: 25px;
}