<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- No se aun como solventar el 'listado' de campos 
             cuando estos sean nulos (De momento si hay alguno nulo revienta la aplicación) -->
        <!-- alt + shift + f -->
        <title>My Freak Zone</title>
        <meta name="author" content="David" charset="UTF-8" >
        <meta name="description" content="Proyecto fin de DAW" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/utilidades/css/Flatly/bootstrap.min.css" id="styl2">
        <link rel="stylesheet" href="/utilidades/css/Flatly/bootswatch.less" id="styl">
        <link rel="stylesheet" href="/utilidades/css/MyStyle.css" type="text/css" >
        <link rel="icon" type="image/png" href="/utilidades/img.png" >
		<link rel="stylesheet" href="/utilidades/js/autocomplete/css/cupertino/jquery-ui-1.10.4.custom.min.css">
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
         <script src="/utilidades/js/autocomplete/js/jquery-ui-1.10.4.custom.min.js"></script>
        <!--<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        Parece ser que con este no funciona el autocomplete de JQuery UI y con el otro si -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="/utilidades/js/MyJavaScript.js" type="text/JavaScript"></script>
    </head>
    <body>
    {% block contenido1 %}
    {% endblock %}
    {% block contenido2 %}
    {% endblock %}
    </body>
</html>