<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- alt + shift + f -->
        <title>My Freak Zone</title>
        <meta name="author" content="David" charset="UTF-8" >
        <meta name="description" content="Proyecto fin de DAW" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/utilidades/css/Flatly/bootstrap.min.css" id="styl2">
        <link rel="stylesheet" href="/utilidades/css/Flatly/bootswatch.less" id="styl">
        <link rel="stylesheet" href="/utilidades/css/MyStyle.css" type="text/css" >
        <link rel="icon" type="image/png" href="/utilidades/img.png" >
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="/utilidades/js/MyJavaScript.js" type="text/JavaScript"></script>
    </head>
    <body>
    {% block contenido1 %}
    {% endblock %}
    {% block contenido2 %}
    {% endblock %}
    </body>
</html>