{% extends "base.html.twig" %}
{% block contenido1 %}
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/MyFreakZone/principal" class="navbar-brand"><img src="/utilidades/img.png" alt="simbolo" /> MyFreakZone</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Series<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="/listado/series/vistas">Vistos</a></li>
                        <li><a href="/listado/series/viendo">Viendo</a></li>
                        <li><a href="/listado/series/pendientes">Pendientes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Animes<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="/listado/animes/vistas">Vistas</a></li>
                        <li><a href="/listado/animes/viendo">Viendo</a></li>
                        <li><a href="/listado/animes/pendientes">Pendientes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Películas<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="/listado/peliculas/vistas">Vistas</a></li>
                        <li><a href="/listado/peliculas/viendo">Viendo</a></li>
                        <li><a href="/listado/peliculas/pendientes">Pendientes</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Mi perfil</a></li>
                <li><a href="#">Salir</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
