{# 
  My Freak Zone - My Freak List - Web application for films, series and animes (Japanase Animation)
  Copyright (C) 2014: David Femenía Vázquez

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see [http://www.gnu.org/licenses/]. 
#}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Freak Zone</title>
        <meta name="author" content="David" charset="UTF-8" >
        <meta name="description" content="Proyecto fin de DAW" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/utilidades/css/Flatly/bootstrap.min.css" id="styl2">
        <link rel="stylesheet" href="/utilidades/css/Flatly/bootswatch.less" id="styl">
        <link rel="stylesheet" href="/utilidades/css/MyStyle.css" type="text/css" >
        <link rel="icon" type="image/png" href="/utilidades/img.png" >
	<link rel="stylesheet" href="/utilidades/js/autocomplete/css/cupertino/jquery-ui-1.10.4.custom.min.css">
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="/utilidades/js/autocomplete/js/jquery-ui-1.10.4.custom.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="/utilidades/js/MyJavaScript.js" type="text/JavaScript"></script>
    </head>
    <body>
    {% block contenido1 %}
    {% endblock %}
    {% block contenido2 %}
    {% endblock %}
    </body>
</html>