{% extends "base2.html.twig" %}
{% block contenido2 %}
<div class="container margintop">
    <div class="row">
        <div class="col-lg-2">
            <label class="minibuttons flatly" onClick="CambiaEstilos('Flatly')">&#9679;</label>
            <label class="minibuttons readable" onClick="CambiaEstilos('Readable')">&#9679;</label>
            <label class="minibuttons cosmo" onClick="CambiaEstilos('Cosmo')">&#9679;</label>
            <label class="minibuttons cerulean" onClick="CambiaEstilos('Cerulean')">&#9679;</label>
            <label class="minibuttons cyborg" onClick="CambiaEstilos('Cyborg')">&#9679;</label>
            <label class="minibuttons lumen" onClick="CambiaEstilos('Lumen')">&#9679;</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Nombre del coso
            Insertar una imagen debajo
            Sinopsis Sinopsis Sinopsis 
            Sinopsis Sinopsis Sinopsis 
            Sinopsis Sinopsis Sinopsis 
            Sinopsis Sinopsis Sinopsis 
            Sinopsis Sinopsis Sinopsis 
            Sinopsis Sinopsis Sinopsis 
            Sinopsis Sinopsis Sinopsis 
            Sinopsis Sinopsis Sinopsis 
            Sinopsis Sinopsis Sinopsis 
            Año en el que salió: 2004
            Tipo: Serie
        </div>
        <div class="col-md-8">
            <h1 class="center">Listado de capítulos</h1>
            <table class="table table-hover mytable" >
                <thead>
                    <th>Número</th>
                    <th>Titulo del capitulo</th>
                    <th>Fecha en el que salió</th>
                </thead>
                <tbody>
                    <!--{% set cont = 0 %}
                    {% for i in datos %}
                        <tr>
                            <td>{{ cont }}</td>
                            <td>{{ i.titulo }}</td>
                            <td>{{ i.fecha_salida }}</td>
                        </tr>
                        {% set cont = cont + 1 %}
                     {% else %}
                     <div class="info center">No tiene capítulos</div>
                     {% endfor %}-->
                </tbody>
             </table>
        </div>
    </div>

{% endblock %}