{% extends "base2.html.twig" %}
{% block contenido2 %}
<div class="container margintop">
    <div class="row">
        <div class="col-lg-2">
            <label class="minibuttons flatly" onClick="CambiaEstilos('Flatly')">&#9679;</label>
            <label class="minibuttons readable" onClick="CambiaEstilos('Readable')">&#9679;</label>
            <label class="minibuttons cosmo" onClick="CambiaEstilos('Cosmo')">&#9679;</label>
            <label class="minibuttons cerulean" onClick="CambiaEstilos('Cerulean')">&#9679;</label>
            <label class="minibuttons cyborg" onClick="CambiaEstilos('Cyborg')">&#9679;</label>
            <label class="minibuttons lumen" onClick="CambiaEstilos('Lumen')">&#9679;</label>
        </div>
    </div>
    <div class="row">
        <h2 style="margin-left: 13px">Busqueda de animes/series/películas</h2>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <ul class="nav nav-tabs panel-title">
                        <li><a href="#tab1" data-toggle="tab" class="active">Busqueda normal</a></li>
                        <li><a href="#tab2" data-toggle="tab">Busqueda avanzada</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="POST" action="{{ urlFor("busquedam") }}">
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane active">
                                <div class="form-group">
                                    <label for="inputBusqueda" class="col-lg-2 control-label">Buscar</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" name="buscaanime" id="inputbusqueda1" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Tipo</label>
                                    <div class="col-lg-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="cbmaterial[]" id="A" value='0'> Serie
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="cbmaterial[]" id="B" value='1' > Anime
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="cbmaterial[]" id="C" value='2' > Película
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="center" class="col-lg-10">
                                        <button type="submit" class="btn btn-primary" name="buscarm">Buscar</button>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2" class="tab-pane">
                                <div class="form-group">
                                    <label for="inputgenero" class="col-lg-2 control-label">Género</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" name="geneross" >
                                            {% for i in 0..N-1 %}
                                                <option value="{{ generos[i] }}">{{ generos[i] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputfecha" class="col-lg-2 control-label">Fecha de estreno</label>
                                    <div class="col-lg-10">
                                        <input type="text" name="fech" class="form-control" placeholder="Introducir año">
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="incluir" > Incluir los datos de la busqueda normal
                                    </label>
                                </div>
                                <div class="form-group">
                                    <div class="center" class="col-lg-10">
                                        <button type="submit" class="btn btn-primary" name="buscarma">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Buscar usuarios</h3>
                </div>
                <div class="panel panel-body">
                    <form class="form-horizontal" method="POST" action="{{ urlFor('busquedausuario')}}">
                        <div class="form-group">
                            <label for="busquedausuario" class="col-lg-2 control-label">Buscar usuario</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="busquedausuario" id="inputbusqueda" 
                                       placeholder="Introduce el X del usuario" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label">Filtrar por</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="selectfiltrausuarios" name="filtrado">
                                    <option value="1">Nombre</option>
                                    <option value="2">Nick</option>
                                    <option value="3">Material</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-10 center">
                            <button type="submit" class="btn btn-primary" name="buscaru">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Noticias recientes</h3>
                </div>
                <div class="panel panel-body">
                    Aquí se importarán desde la base de datos
                    las últimas noticias filtrando por X fecha
                </div>
            </div>
        </div>
    </div>
    <script type="text/JavaScript">
        window.onload = InitPlantillaPrincipal();
    </script>
{% endblock %}