{% extends "base.html.twig" %}
{% block contenido2 %}
<!--
    Cosas pendientes de esta plantilla.
    1. Enviar un correo a la dirección de email introducida para confirmar el registro *(Ni idea de como hacerlo aun)
    2 ?¿?¿ (De momento creo que nada mas)
-->

       
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><img class='simbol' src="/utilidades/img.png" alt="simbolo" /> MyFreakZone</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Ni idea de que poner aqui</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container margintop">
    <div class="row">
        <div class="col-lg-2">
            <label class="minibuttons flatly" onClick="CambiaEstilos('Flatly')">&#9679;</label>
            <label class="minibuttons readable" onClick="CambiaEstilos('Readable')">&#9679;</label>
            <label class="minibuttons cosmo" onClick="CambiaEstilos('Cosmo')">&#9679;</label>
            <label class="minibuttons cerulean" onClick="CambiaEstilos('Cerulean')">&#9679;</label>
            <label class="minibuttons cyborg" onClick="CambiaEstilos('Cyborg')">&#9679;</label>
            <label class="minibuttons lumen" onClick="CambiaEstilos('Lumen')">&#9679;</label>
        </div>
    </div>
    <div class="{{ clase }}">{{ mensaje }}</div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <ul class="nav nav-tabs panel-title">
                        <li><a href="#tab1" data-toggle="tab" class="active">Login</a></li>
                        <li><a href="#tab2" data-toggle="tab">Registrate</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane active">
                            <form class="form-horizontal" method="POST" action="{{ urlFor('login') }}">
                                <div class="form-group" id="nickdiv">
                                    <label for="inputnick" class="col-lg-2 control-label">Nick</label>
                                    <div class="col-lg-10">
                                        <input type="text" name="nick" class="form-control" placeholder="Introduce tu nick de usuario">
                                    </div>
                                </div>
                                <div class="form-group" id="clavediv" >
                                    <label for="inputclave" class="col-lg-2 control-label">Clave</label>
                                    <div class="col-lg-10">
                                        <input type="password" name="clave" class="form-control" placeholder="Introduce tu contraseña">
                                    </div>
                                </div>
                                <div class="center" class="col-lg-2 control-label">
                                    <input type="submit" value="Entrar" name="entrar" class="btn btn-primary" />
                                    <input type="reset" value="Limpiar" name="limpiar" class="btn btn-default" /><br/><br/>
                                    <a>¿Ha olvidado su contraseña?</a>
                                </div>
                            </form>
                        </div>
                        <div id="tab2" class="tab-pane">
                            <form enctype="multipart/form-data" class="form-horizontal" method="POST" action="{{ urlFor("registro")}}">
                                <div class="form-group" id="nickRdiv">
                                    <label for="nick" class="col-lg-2 control-label">Nick *</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="nickR" name="nick" placeholder="Nick (Solo caracteres Alfanumericos)">
                                        <label style="color: red;" id="nickRlabel"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="img" class="col-lg-2 control-label">Imagen de perfil: </label>
                                    <div class="col-lg-10">
                                       <input name="uploadedfile" type="file" />
                                    </div>
                                </div>
                                <div class="form-group" id="claveRdiv">
                                    <label for="clave" class="col-lg-2 control-label">Clave *</label>
                                    <div class="col-lg-10">
                                        <input type="password" class="form-control" id="claveR" name="clave" placeholder="Contraseña (Min 8 caracteres, Max 20)">
                                         
                                    </div>
                                </div>
                                <div class="form-group" id="emaildiv">
                                    <label for="email" class="col-lg-2 control-label">Email *</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Email (valido)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nombre" class="col-lg-2 control-label">Nombre</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control"  name="nombre" placeholder="Nombre">
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label for="apellido" class="col-lg-2 control-label">Apellido</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" name="apellido" placeholder="Apellido">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="descripcion" class="col-lg-2 control-label">Algo sobre ti</label>
                                    <div class="col-lg-10">
                                        <textarea rows="15" type="text"class="form-control" name="descripcion"
                                                  placeholder="Introduce aquí lo que quieras contar sobre ti"></textarea>
                                    </div>
                                </div>
                                <div class="center" class="col-lg-2 control-label">
                                    <input type="submit" value="Registrarse" id="registrarse" name="registrarse" class="btn btn-primary" disabled />
                                    <input type="reset" value="Limpiar" name="limpiar" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos del sitio</h3>
                </div>
                <div class="panel-body">
                    Aquí escribiré los datos del sitio
                    Aquí escribiré los datos del sitio
                    Aquí escribiré los datos del sitio
                    Aquí escribiré los datos del sitio
                    Aquí escribiré los datos del sitio
                    Aquí escribiré los datos del sitio
                    Aquí escribiré los datos del sitio
                    Aquí escribiré los datos del sitio
                    Aquí escribiré los datos del sitio
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/JavaScript">
    window.onload = init();
</script>
{% endblock %}