{# My Freak Zone - My Freak List - Web application for films, series and animes (Japanase Animation)
  Copyright (C) 2014: David Femenía Vázquez

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "base2.html.twig" %}
{% block contenido2 %}
    <div class="container margintop">
        <div class="row">
            <div class="col-lg-2">
                <label class="minibuttons flatly" onClick="CambiaEstilos('Flatly')">&#9679;</label>
                <label class="minibuttons readable" onClick="CambiaEstilos('Readable')">&#9679;</label>
                <label class="minibuttons cosmo" onClick="CambiaEstilos('Cosmo')">&#9679;</label>
                <label class="minibuttons cerulean" onClick="CambiaEstilos('Cerulean')">&#9679;</label>
                <label class="minibuttons cyborg" onClick="CambiaEstilos('Cyborg')">&#9679;</label>
                <label class="minibuttons lumen" onClick="CambiaEstilos('Lumen')">&#9679;</label>
            </div>
        </div>
       <div class="row">
           <h1 style="text-align: center">Panel de administración</h1>
           <div class="col-md-6">
               <h2>Noticias pendientes de aprobar</h2>
           </div>
           <div class="col-md-6">
               <h2>Materiales pendientes de aprobar</h2>
           </div>
        </div>
    
  </div>
{% endblock %}
